!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
/pod/MYMETA.*
/pTk/MYMETA.*
*.o
*.pm.tdy
*.bs

/.vscode/

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/pod/Makefile
/pod/Makefile.old
/pTk/Makefile
/pTk/Makefile.old
/MANIFEST
/MANIFEST.bak
/pm_to_blib
/pTk/pm_to_blib
/*.zip

# Tk::MMutil::mTk_CHO output
/pTk/*.h
/pTk/*.c

# xsubpp output
/TableMatrix.c

# make output
/pod/pm_to_blib
/pTk/libpTk.a
